In [4]:
import numpy as np
import pandas as pd
from sklearn.utils import resample

In [8]:
path="C://Users//david\Desktop//VU amsterdam//Data mining"
sb_samples = pd.read_csv(path+"/training_set_VU_DM.csv")
sb_samples.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [ ]:
# correlation matrix

In [3]:
sb_samples.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd',
       'booking_bool'],
      dtype='object')

In [15]:
print(sb_samples['booking_bool'].value_counts())
#clicks 
print(sb_samples['click_bool'].value_counts())

0    4819957
1     138390
Name: booking_bool, dtype: int64
0    4736468
1     221879
Name: click_bool, dtype: int64

In [11]:
# Separate majority and minority classes
df_majority = sb_samples[sb_samples.booking_bool==0]
df_minority = sb_samples[sb_samples.booking_bool==1]
 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=138390,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled.booking_bool.value_counts()

1    138390
0    138390
Name: booking_bool, dtype: int64

In [12]:
df_downsampled

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
2098177,140839,2013-02-15 07:21:52,5,219,NaN,NaN,219,5885,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1112333,74279,2013-06-13 13:36:35,32,220,NaN,NaN,219,20587,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3563714,239331,2013-03-03 20:12:40,5,219,NaN,NaN,219,44963,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2505789,168274,2013-06-13 11:09:57,5,219,NaN,NaN,219,76814,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4855871,325846,2013-01-07 13:54:01,15,55,NaN,NaN,99,27499,3,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4940909,331626,2012-11-04 06:49:20,5,219,NaN,NaN,219,38260,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
811764,54280,2013-03-08 07:25:48,5,219,NaN,NaN,219,104261,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3109863,208814,2013-04-27 16:36:41,5,219,NaN,NaN,219,7673,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1532006,102791,2013-05-12 10:35:22,14,100,NaN,NaN,219,39263,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
934515,62371,2013-06-23 15:01:59,5,219,NaN,NaN,219,13659,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
881388,58829,2013-01-09 14:27:09,5,219,NaN,NaN,219,104853,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
739474,49485,2012-12-20 13:01:12,5,219,NaN,NaN,219,8797,2,2.5,...,NaN,NaN,NaN,NaN,1.0,0.0,57.0,0,NaN,0
4237256,284371,2013-02-13 19:07:41,5,219,NaN,NaN,219,110668,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
4165290,279472,2013-02-17 08:24:22,5,219,3.79,146.08,219,125524,3,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,4.0,0,NaN,0
2225259,149418,2012-12-25 20:19:44,5,219,NaN,NaN,219,108843,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0
1225526,81987,2013-03-29 10:32:00,5,219,NaN,NaN,219,37106,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2676879,179611,2013-03-31 16:27:10,24,216,NaN,NaN,73,129244,4,4.5,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,0
2108541,141505,2013-04-06 11:22:25,29,132,NaN,NaN,219,133797,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3776272,253629,2013-04-22 14:34:41,5,219,NaN,NaN,219,117267,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1026938,68566,2013-04-09 18:18:41,5,219,NaN,NaN,219,2924,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
989346,66095,2013-06-01 08:10:30,5,219,3.20,108.90,219,107491,0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1012049,67613,2013-05-25 19:01:15,5,219,NaN,NaN,13,118321,0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
471562,31574,2013-04-01 19:35:31,24,216,NaN,NaN,31,84999,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2177690,146189,2013-03-19 22:48:50,12,173,NaN,NaN,74,9534,4,4.0,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,0
1243146,83159,2013-03-25 14:07:49,5,219,NaN,NaN,100,129273,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4858661,326066,2013-04-16 11:33:08,5,219,NaN,NaN,219,80769,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3515987,236064,2013-03-27 18:10:12,15,55,NaN,NaN,219,12940,5,5.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2055662,138009,2013-04-18 06:19:14,5,219,NaN,NaN,219,67319,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4915234,329907,2013-06-18 16:33:21,5,219,NaN,NaN,219,54529,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2647683,177654,2013-05-14 05:48:31,5,219,NaN,NaN,219,85087,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4957238,332693,2013-03-21 10:26:20,5,219,NaN,NaN,59,48629,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1164.40,1
4957263,332697,2013-04-28 11:57:11,24,85,NaN,NaN,99,24775,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,588.28,1
4957287,332700,2013-03-04 07:36:22,5,219,NaN,NaN,219,33592,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,120.13,1
4957342,332708,2013-04-07 10:25:16,14,100,NaN,NaN,219,67376,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,562.62,1
4957379,332709,2013-02-27 17:42:39,15,55,2.50,119.47,55,83285,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,68.06,1
4957405,332712,2013-01-12 16:45:13,5,219,NaN,NaN,219,61488,3,3.0,...,NaN,NaN,NaN,NaN,-1.0,1.0,73.0,1,58.66,1
4957499,332719,2013-05-14 11:44:55,5,219,NaN,NaN,219,71420,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,100.79,1
4957543,332723,2013-04-23 09:18:28,5,219,3.39,143.18,219,139881,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1257.24,1
4957556,332724,2013-03-14 11:11:27,15,55,NaN,NaN,55,45367,4,4.5,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,244.41,1
4957588,332726,2013-05-24 09:30:52,12,73,NaN,NaN,31,59600,4,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,89.26,1
4957681,332731,2013-04-20 21:50:47,5,219,NaN,NaN,219,67800,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,319.68,1
4957713,332732,2012-12-30 12:54:21,5,219,2.63,117.68,219,64843,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,233.39,1
4957744,332735,2013-06-04 23:50:43,24,216,NaN,NaN,92,84269,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,182.67,1
4957803,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,127896,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,108.03,1
4957806,332740,2013-02-18 12:17:59,12,99,NaN,NaN,99,1668,1,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,261.68,1
4957928,332748,2012-12-01 12:31:45,18,215,NaN,NaN,215,88522,1,4.5,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,32.48,1
4958041,332753,2013-06-20 10:00:41,5,219,NaN,NaN,219,12557,2,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,161.22,1
4958054,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,20189,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,516.81,1
4958080,332755,2013-06-12 07:31:28,5,219,NaN,NaN,219,124428,2,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,205.98,1
4958096,332757,2012-12-05 19:43:08,14,100,NaN,NaN,100,52375,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,91.46,1
4958114,332761,2013-02-27 10:00:48,22,92,NaN,NaN,98,4163,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,230.88,1
4958141,332763,2012-12-04 18:55:04,32,220,NaN,NaN,81,46986,3,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,156.75,1
4958187,332768,2013-06-14 10:27:10,5,219,3.75,194.22,219,66160,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,163.05,1
4958201,332772,2013-04-03 09:05:13,32,220,4.05,169.85,1,53843,4,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,172.43,1
4958220,332774,2013-03-02 18:58:14,5,219,NaN,NaN,219,93464,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,379.52,1
4958241,332776,2012-11-17 10:02:22,5,32,5.00,321.49,55,106758,4,4.0,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,428.84,1
4958275,332781,2013-03-03 15:12:59,5,219,NaN,NaN,219,18007,3,3.5,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,129.94,1
4958304,332782,2012-11-08 18:24:21,19,158,NaN,NaN,158,68398,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,288.25,1
4958321,332784,2013-06-18 14:35:24,24,219,NaN,NaN,100,34966,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,301.40,1
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1

In [27]:
#how many searches without a booking?
test = sb_samples.groupby("srch_id").booking_bool.sum()
print(test.shape)
print(test.value_counts())

(199795,)
1    138390
0     61405
Name: booking_bool, dtype: int64

In [28]:
#how many searches without a click?
test = sb_samples.groupby("srch_id").click_bool.sum()
print(test.shape)
print(test.value_counts())

(199795,)
1     186764
2       8772
3       2281
4        900
5        426
6        279
7        144
8         88
9         47
11        27
10        20
12        10
13        10
14         7
16         7
15         6
17         2
20         2
24         1
19         1
25         1
Name: click_bool, dtype: int64